@include cssPrefix('district-map-legend') {
  display: block;
  width: 100%;
  padding: 0px 15px 15px 15px;

  &__list {
    margin: 0;
    padding: 0;

    &-item {
      list-style: none;
      display: inline-block;
      font-size: 12px;
      width: 12.5%;

      span {
        display: block;
        height: 15px;
        opacity: .8;
      }
    }
  }

  &__annotation {
    display: block;
    font-size: 14px;
  }

}
