@import './district-map-legend.scss' ;

@include cssPrefix('district-map') {
  display: block;
  width: 100%;

  @include bp-sm {
    max-width: 300px;
  }

  &__d3-container {
    margin: 15px 15px 0px 15px;
  }

  &__path {
    stroke: $white;
    stroke-width: 3px;
    fill-opacity: .8;
  }

}
