.--color {

  &-bg {

    &-female {
      background-color: $female-color;
    }
    &-male {
      background-color: $male-color;
    }
    &-total {
      background-color: $total-color;
    }
  }

}
